
   <div class="container">


    <div class="contents row">

    <%= form_for @blog do |f| %>
    <%= f.hidden_field :user_id %>

    <%= f.label :title %>
    <%= f.text_field :title %>

     <%= f.label :image %>
     <%= f.text_field :image %>

     <%=  f.label :content %>
     <%=  f.text_area :content, size: "60x12" %>

     <%= f.submit "投稿する",class: "btn btn-primary" %>
  <% end %>
</div>
</div>
